@import "normalize.css";
/* @font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf");
    src: url('//fonts/roboto/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('//fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('//fonts/roboto/Roboto-Regular.woff') format('woff'),
        url('//fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Revalia';
    src: url("../fonts/revalia/Revalia-Regular.eot") ;
    src: local('Revalia-Regular'),
        url('../fonts/Revalia-Regular.eot?#iefix') format('embedded-opentype'),
        url('//fonts/revalia/Revalia-Regular.woff2') format('woff2'),
        url('//fonts/revalia/Revalia-Regular.woff') format('woff'),
        url('//fonts/revalia/Revalia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
} */



body {
    font-family: Roboto;
}
.subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}
.header {
    background-color: #EEEFF1;
    padding-bottom: 146px;
}
.wrapper {
    max-width: 1105px;
    padding: 0 15px;
    margin: 0 auto;
}
.header__block-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 140px;
}
.logo__header {
    margin-top: 47px;
    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px%;
    /* identical to box height */
    text-align: center;
    color: #34547A;
}
.logo__header a {
    text-decoration: none;
    
}
.header__menu {
    display: flex;
    margin-top: 73px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
      /* Accent */
    color: #34547A;
    /* font-family: 'Roboto', sans-serif; */
}
.header__menu-item {
    margin-right: 42px;
    list-style-type: none;
}
.header__menu li:last-child {
    margin-right: 0px;
}
.header__menu-item a {
    text-decoration: none;
}
.header__menu-item a:hover {
    color: cadetblue;
    transition: color 400ms steps(10, start) 0.3s;
}
.header__block-2 {
    display: flex;
    justify-content: center;
}
.header__img {
    position: relative;
    right: 30px;
    top: 15px;
}
.header__title-block {
    position: relative;
    left: 95px;
    /* padding-left: 80px; */
}
.header__subtitle {
    margin: 60px 0;
}
.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 65px 225px; */
    width: 225px;
    height: 65px;
    background: #34547A;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.header__button:hover {
    color: dodgerblue;
    transition: color 300ms steps(10, start) 0.3s;
    background: grey;
    transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
}
.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__title {
    padding: 119px 0 50px 0;
}
.about__subtitle {
    padding-bottom: 100px;
}
.project {
    background: #34547A;
}
.project__container {
    display: flex;
    justify-content: space-between;
}
.item-project {
    display: flex;
    padding: 100px 0;
}
/* .item-project__icon {
    padding: 100px 0;
} */
.item-project__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
}
.item-project__text-1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}
.item-project__text-2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.skills {
    padding: 102px 0 101px 0;
}
.skills__conteiner {
    display: flex;
    justify-content: space-between;
}
.skills__description {
    display: flex;
    flex-direction: column;
    padding-top: 102px;
}
.skills__title {
    margin-bottom: 50px;
}
.skills__text div:first-child {
    padding-top: 0px;
}
.skills__subtitle {
    padding-top: 29.76px;
}
.skills__subtitle::after {
    display: block;
    content: '';
    width: 445px;
    height: 4px;
    background: linear-gradient(to right, #34547A 349.36px, #C4C4C4 349.36px);
    margin-top: 19.88px;
}
.how {
    background: #EEEFF1;
    padding: 100px 0 100px 0 ;
}
.how__title {
    margin-bottom: 50px;
}
.how__subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 57px;
}
.how__video {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 600px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/how/01.png');
}
.gallery__row {
    display: flex;
    flex-direction: row;
}
.gallery__column {
    display: flex;
    flex-direction: row;
}
.gallery__current:hover {
    position: relative;
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)) , url(../img/gallery/02.jpeg);
    z-index: -2; 
}
.gallery__logo {
    padding: 62px 0 90px 0;
}
.gallery__icons {
    display: flex;
    justify-content: space-around;
}
.order {
    padding: 100px 0;
    background: #EEEFF1;
}
.order__conteiner {    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 540px;
    margin: 0 auto;
}
.order__subtitle {
    margin: 50px 0 65px 0;
    text-align: center;
}
.order__input {
    margin-bottom: 20px;
}
.order__input>input:last-child {
    margin-right: 0;
}
.order__input-item {
    margin-right: 18px;
    width: 255px;
    height: 50px;
}
.order__textarea {
    height: 175px;
    margin-bottom: 50px;
}
.order__button {
    margin: 0 auto;
    width: 190px;
    background: #34547A;
    padding: 20px 50px;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.order__button:hover {
    color: dodgerblue;
    transition: color 300ms steps(10, start) 0.3s;
    background: grey;
    transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
}
.order__form {
    display: flex;
    flex-direction: column;
}
/* .gallery__wrapper {
    max-width: 1100px;
    margin: 0 auto;
} */
.gallery {
    padding-top: 28px;
}
.gallery__row {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.gallery__column {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
}
.gallery__item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/gallery/02_01.svg), linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.2));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40%, 100%;
  transition-duration: 0.2s;
  opacity: 0;
}
.gallery__item:hover::after {
  opacity: 1;
}
.gallery__item {
  position: relative;
}
.gallery__item img {
    display: block
}
.footer {
    background: #34547A;
    padding: 50px 0;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__title {
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}
.footer__copyraight {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.footer__block-icons {
    display: flex;
}
.footer__block-icons a:first-child {
    margin-left: 0px;
}
.footer__icon {
    border-radius: 60%;
    margin-left: 20px;
    position: relative;
}
.footer__icon img {
    display: block;
}
.footer__icon::after {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), url(../img/footer/wert.svg);
    background-size: 40%, 100%;
    background-position: center center;
    opacity: 0;
}
.footer__icon:hover::after {
    transition-duration: 0.2s;
    opacity: 1;
}

