/* common css styles */
.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* .ibg img {
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    object-fit: cover; 
} */
/* buton to top s*/
html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
}
.lock {
    overflow: hidden;
}
.wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
button {
    border: none;
    padding: 0;
    cursor: pointer;
}
button:focus {
    outline: none;
}
.button-up__wrapper {
    display: none;
    position: fixed;
    bottom: 78px;
    right: 30px;
    z-index: 4;
}
.button-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color:rgba(74,76,85,0.7);
    transition: all .3s ease-in-out;
}
.button-up img {
    transition: all .2s ease-in-out;
    transform: scale(0.8)
}
.button-up img:hover {
    transform: scale(0.9)
}
.button-up_show {
    display: block;
}
.button-up:hover {
    background-color: rgba(139,0,0,0.7);
    transform: scale(1.04);
}
@media (max-width: 768px) {
    .button-up {
        width: 45px;
        height: 45px;
    }
}
@media (max-width: 500px) {
    .button-up {
        width: 35px;
        height: 35px;
    }
    .button-up__wrapper {
        right: 11px;
        bottom: 128px;
    }
}
/* buton to top f */
/* burger s */
.burger {
    display: none;
    position: relative;
    width: 36px;
    height: 28px;
    cursor: pointer;    
}
.burger__active {
    display: block;
}
.burger__line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.burger__line,
.burger__line::before,
.burger__line::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    /* border: 2px solid #FFFFFF; */
    transition: 0.3s;
}
.burger__line::before {
    content: '';
    top: -12px;
}
.burger__line::after {
    content: '';
    top: 12px;
}
.active .burger__line::before {
    top: 0;
    transform: rotate(45deg);
}
.active .burger__line::after {
    top: 0;
    transform: rotate(-45deg);
}
.active .burger__line {
    background: transparent;
    /* opacity: 0; */
    /* transform: translate(-6.5px); */
}
/* .active .burger__line:nth-child(2) {
    opacity: 0;
    transform: translate(-6.5px);
}   */
/* .active .burger__line:nth-child(3) {
    top: 50%; */
    /* left: 0; */
    /* -webkit-transform: rotate(45deg) translate(-19px, 4px); */
    /* transform: rotate(45deg) translate(-19px, 4px); */
    /* transform: rotate(-45deg) translate(-50%, -50%);
} */
/* burger f */ 
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 0;
    border-radius: 3px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.arrow {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    /* background: rgba(111,104,99,0.7); */
    background: transparent;
    border-radius: 3px;
    transition: background .2s;
    z-index: 1;
    cursor: pointer;    
}
/* .arrow:hover { 
    background: rgba(231,76,60,0.7);
} */
.arrow__item::before {
    content: '';
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background: transparent;
    border: solid rgba(128,0,0,0.8) 4px;
    border-top: transparent;
    border-right: transparent;
    border-radius: 2px;
    transition: .2s border-color;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__logo {
    display: flex;
}
.header__logo-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.header__logo-letters {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 41px;
    text-transform: uppercase;
}
.header__nav-block {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__nav-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.link {
    text-decoration: none;
    text-transform: uppercase;
}
.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}
.title-block__title {
    font-size: calc(32px + 4 * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 30px;
}
.title-block__subtitle {
    margin-bottom: 30px;
    text-align: center;
}
.title {
    font-size: 36px;
    letter-spacing: 4px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}
.subtitle {
    font-size: 14px;
    line-height: 29px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
}
.subtitle-type-1 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.button-type-1__link {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: unset;
    border-radius: 50%;
    transition: all .2s linear;
}
.button-type-1 {
    position: relative;
    border-radius: 50%; 
}
.button-type-1::before {
    content: '';
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition-property: background transform;
    transition: .2s linear;
}
.button-type-1:hover.button-type-1::before {
    background: #4a4c55;
    transform: translate(-50%, -50%) scale(1.1);
}
.figure {
    display: inline-block;
    border-radius: 50%;
    position: relative;
    width: 10px;
    height: 10px;
}
.figure::before, .figure::after {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    width: 81px;
    height: 2px;
}
.figure::before {
    left: -935%;
}
.figure::after { 
    right: -949%;
}
.column__img-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.column__figure {
    transition: .3s all linear;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column__title-item {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    transition: .3s color linear;
    text-decoration: none;
    word-break: normal;

}
.column__title::after {
    content: "";
    display: block;
    width: 41px;
    height: 1px;     
}
.column__subtitle {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
.dots_active {
    background-color: #e74c3c;
}
