body {
    background-color:#f5f5f5;
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-color: #9a9a9a;
}
.header>.wrapper {
    background-color: #9a9a9a;
}
.wrapper {
    background-color: aqua;
    padding: 0px 15px;
    max-width: 1103px;
    margin: 0 auto;
}

.navbar {
background-color: black;
}

.navbar>.wrapper {
    display: flex;
    align-items: center;
    background-color: #000000;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 23px;
}

.nav_ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    font-weight: 400;
    font-family: "Open Sans - Semibold";
    margin-bottom: 10px;
    margin-top: 10px;
    
        
}

.nav_ul>li:first-child {
    padding-left: 0;
}

.nav_ul>li {
    padding-left: 48px;
    position: relative;
}

.nav_ul>li>a {
    text-decoration: none;
    color: #ffffff;
}

.header {
    padding: 110px 0px 137px 0px;
    text-align: left;
}

.header>.wrapper>.title {
    max-height: 80px;
    max-width: 516px;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    margin-bottom: 78px  
}

.header>.wrapper>.title::after {
    content: "";
    display: block;
    width: : 64px;
    height: 2px;
    position: relative;
    background-color: #ffffff;
    margin-right: 449px;
    left: 3px;
    margin-top: 33px;
}    
.header>.wrapper>.description {
    display: block;
    max-width: 470px;
    max-height: 61px;
    text-align: left;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 65px;
}

.header>.wrapper>.button {
    display: block;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 0;
    max-width: 131px;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #fff;    
} 

.social {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
}

.social>.wrapper{
    display: flex;
    justify-content: space-between;
    background-color: #fff;   
}

.social>.social_media {
    font-family: "Open Sans";
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    
}

.social_description {
    color: #86878b;
    font-family: "Open Sans";    
    font-size: 14px;    
    font-weight: 400;    
    line-height: 20px;
    max-width: 360px;
    flex-basis: 12px        
}

.img_social {
    align-self:center;                 
}

/*   features start */
                   /*   features_1 start */
.features_1 {
    background-color: #f5f5f5;
}

.feature_1>.wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;    
}

.tabs{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 6px;
    padding-top: 147px;   
    padding-bottom: 114px;
    /* padding-ги задают блока с классом tabs верхнюю и нижнюю границу контейнера 
    feature_1 и соответственоо обертки 
    feature_1>wrapper */   
 }

.tab_1{
    display: flex;  
    background-color:#ff8b38;    
    width: 112px;
    height: 112px;   
    margin-bottom: 2px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.tab_2{
    display: flex;  
    background-color:#333333;    
    width: 112px;
    height: 112px;   
    margin-bottom: 2px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.tab_3{
    display: flex;  
    background-color:#333333;    
    width: 112px;
    height: 112px;   
    margin-bottom: 2px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
/*отсупы сверху и снизу также между елементами в item_feature_1 выставлены
на глаз так как пока не знаю как точно это сделать*/
.item_feature_1 {                  
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 477px;
    text-align: justify;
}

.title_feature_1 {
    color: #000000;
    font-family: "Open Sans";    
    font-size: 20px;    
    font-weight: 700;
    margin-bottom: 6px;
}

.descript_features_1 {
    
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
    
}   

.botton_feature_1 {
    display: flex;
    text-decoration: none;
    background-color: #ff8b38;
    color: white;
    width: 121px;
    height: 46px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.botton_feature_1:hover {
    background-color: tomato;
    transition: background 600ms ease-in-out;
    transition: color 500ms ease-in-out;
    color:red;
}

.img_feature_1 {
    display: flex;
    justify-content: end;
    align-items: center;
}
/*  from features */
                   /*   features_1 end */

/* from features */
                  /* features_2 start */

.feature_2  {
background-color: #ffffff;
}
.feature_2 .wrapper {
    background-color: #ffffff;
} 
.feature_2-content {
    display: flex;
    justify-content: space-between;
    padding: 127px 0px 74px 0px ;
    background-color: #ffffff;
}    
.feature_2-content-img {
    display: flex;
}
.feature_2-content-descr {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 440px;
    position: relative;
    bottom: 34px;
    left: -11px;
}
.feature_2-content-descr__title {
    display: inline-block;
    align-self: start;
    color: #212121;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 43px;
}
.feature_2-content-descr__title::after {  /*it is not work, why, I don`t know */
    content: "";
    display: block;
    width: : 64px;
    height: 2px;
    position: relative;
    margin-right: 449px;
    left: 3px;
    margin-top: 33px;
    background-color: black;
}
.feature_2-content-descr__descr {
    display: flex;
    justify-content: flex-end;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
}
.feature_2-list-box {
    display: flex;
    flex-direction: column;
}
.feature_2-list-box  p:first-child {
    margin-bottom: 20px;
}
.feature_2-list-box-text_block {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;    
}
.feature_2-list-box-text_block__img {
   display: flex;
   height: 35px;
   width: 35px;
   align-items: center;
   position: relative;
   top: 14px;
   border: 2px solid #ff8b38;
   border-radius: 90%;
}
.feature_2-list-box-text_block__title{
    position: relative;
    bottom: 3px;
    color: #212121;
    font-family: "Open Sans - Semibold";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.feature_2-list-box-text_block__text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 33px;
}
/*  from features */
                   /*   features_2 end */

/* from features */
                  /* features_3 start */

.fuature_3 {
    margin: 90px 0px 130px 0px;
    background-color: #f5f5f5;
}
.fuature_3 .wrapper {
    background-color: #f5f5f5;
}
.descr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.descr__wrapper_description {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
}
.descr__title{
    margin-bottom: 25px;
    max-width: 245px;
    color: #212121;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 43px;
}
.descr__title::after { 
    content: "";
    display: block;
    width: : 64px;
    height: 2px;
    margin-right: 198px;
    margin-top: 30px;
    background-color: #ff8b38;
}
.descr__description {
    display: flex;
    flex-direction: column; 
    max-width: 478px;
}
.descr__text {
    text-align: left;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.img {
    display: inline;
    position: relative;
    right: -25px;
}
/*  from Our Process in PSD */
                   /*   features_3 end */

/* from Our Process in PSD */
                  /* Our Process */
.about {
    padding: 108px 0 105px 0;
    background-color: #ffffff;
}
.about .wrapper {
    background-color: #ffffff;
}                  
.about__title {
    margin-bottom: 30px;
}
.title {
    color: #212121;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    text-transform: uppercase;
    text-align: center;   
}
.title::after {
    content:"";
    display: block;
    width: 64px;
    height: 2px;
    margin: 30px auto 0 auto;
    background-color: #ff8b38;
}
.about__text {
    text-align: center;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.about__row {
    display: flex;
    justify-content: space-between;
    margin: 83px 0 0 0;
}
.about__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 350px;
}
.about__icon {
    display: flex;
    width: 70px;
    height: 70px;
    border: 2px solid #ff8b38;
    border-radius: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
}
.about__title {
    margin-bottom: 20px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.about__text {
    text-align: center;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
/*  from Our Process in PSD */
                   /*    Our Process end */

/* from Pricing in PSD */
                  /* Pricing start */
.pricing {
    padding: 96px 0 108px 0;
    background-color: #f5f5f5;
}
.pricing .wrapper {
    background-color: #f5f5f5;
}                  
.pricing__title {
    margin-bottom: 30px;
}
.pricing__text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.pricing__row {
    display: flex;
    justify-content: space-between;
    padding-top: 117px;
    background-color: #f5f5f5;
}                     
.pricing__column-title {
    width: 343px;
    height: 59px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border-bottom: 1px solid #fff;
}
.pricing__price {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 343px;
    padding-top: 45px;
    
}
.pricing__board {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Raleway;
    font-size: 94px;
    font-weight: 700;
    line-height: 24px;
}
.pricing__currency {
    color: #ffffff;
    font-family: Raleway;
    font-size: 35px;
    font-weight: 700;
    line-height: 24px;
    /* vertical-align: -20px; */
    position: relative;
    top: 20px;
} 
/* .pricing__value {
    color: #ffffff;
    font-family: Raleway;
    font-size: 94px;
    font-weight: 700;
    line-height: 24px; 
} */
.pricing__value-popular-1 {
    color: #ffffff;
    font-family: Raleway;
    font-size: 35px;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    top: 22px;
}
.pricing__value-professional-1 {
    color: #ffffff;
    font-family: Raleway;
    font-size: 35px;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    top: 22px;
}
.pricing_descr {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
    width: 343px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pricing__line {
    width: 343px;
    height: 5px;      
    background-color: #ff8b38;
}
.pricing_popular {
    width: 343px;
    height: 40px;
    background-color: #ff8b38;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing_popular-position {
    position: relative;
    bottom: 34px;
}
.pricing__description {
    width: 343px;
    height: 40px;
    background-color: #ffffff;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 0;
}
/*  from Pricing in PSD */
                   /*    Pricing end */

/* from Testimonials in PSD */
                  /* Testimonials start */
.test {
    padding: 108px 0 101px 0;
    background-color: #fff;
}
.test .wrapper{
    background-color: #fff;
}
.test__title {
    margin-bottom: 30px;
}
.test__text {
    margin-bottom: 53px;
}
.title {
    color: #212121;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    text-transform: uppercase;
    text-align: center;                   
}
.test__text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.test__row {
    display: flex;
    justify-content: space-around;
}
.test__descr {
    width: 248px;
    height: 82px;
    border: solid #f5f5f5;
    border-top-width: 24px;
    border-right-width: 13px;
    border-bottom-width: 28px;
    border-left-width: 12px;
    background-color: #f5f5f5;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    text-align: justify;
}
.test__arrow {
    width: 0; 
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid #f5f5f5;
    position: relative;
    left: 25px;
}
.test__person {
    display: flex;
    margin-top: 8px;
    

}
.test__info-person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;

}
.test__name {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
}
.test__profession {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}
/*  from Testimonials in PSD */
                   /*    Testimonials end */

/* from Custom Section in PSD */
                  /* Custom Section start */
.custom {
    background-color: #9a9a9a;
    padding: 75px 0 26px 0;
}
.custom .wrapper {
display: flex;
flex-direction: column;
align-items: center;
background-color: #9a9a9a;
}
.custom__title {
    margin-bottom: 30px;
    color: #ffffff;
}
.custom__title::after {
    content:"";
    display: block;
    width: 64px;
    height: 2px;
    margin: 30px auto 0 auto;
    background-color: #ffffff;
}                  
.text-after-title {
    opacity: 0.8;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 37px;
    text-align: center;
}
.custom__button {
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    border: 2px solid #fff;
    padding: 12px 0 10px 0;
    width: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    
}
.custom__picture {
    opacity: 0.22;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
}
/*  from Custom Section in PSD */
                   /*    Custom Section */

/* from CONTACT US in PSD */
                  /* CONTACT US start */

.contact {
    background-color: #fff;
    padding: 105px 0px 85px 0px;
}
.contact .wrapper {
    background-color: #fff;
}                  
.contact__title {
    margin-bottom: 30px;
}
.contact__text {
    margin-bottom: 85px;
    text-align: center;
    color: #86878b;
}
.contact__input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
}
.contact__input {
    display: flex;
    flex-direction: column;
    width: 527px;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
}
.contact__name {
margin-bottom: 30px;
padding: 7,5px 0;
}
.contact__name:last-child {
    margin-bottom: 44px;
}
.contact__textarea {
    width: 530px;
    height: 123px;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    resize: vertical;   
}                  
.contact__send-button-block {
    display: flex;
    justify-content: center;
}

.contact__send-button-block {
    margin-top: 46px;
}
.contact__send-button {
    padding: 15px 22px;
    border-radius: 3px;
    border: 1px solid #ff8b38;
    background-color: #ff8b38;
    color: #fff;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}
.contact__send-button:hover {
    background-color: #9a9a9a;
    border: 1px solid #9a9a9a;
    border-radius: 3px;
}
/*  from CONTACT US in PSD */
                   /*    CONTACT US end */

/* from footer in PSD */
                  /* footer start */


.footer {
    background-color: #000;
}
.footer .wrapper {
    background-color: #000;
}
.footer__img {
    padding-top: 21px;
    display: flex;
    justify-content: center;
}
.footer__img a:last-child {
    margin-right: 0px;
}
.footer__copyright {
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}
.footer__item {
    margin-right: 32px;
}
 

                   