@font-face {
    font-family: "Josefin Sans", sans-serif;
    src:url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');
}
@font-face {
    font-family:  "Good Vibes Pro";
    src: url("../fonts/Good Vibes Pro.ttf");
}
@font-face {
    font-family: Georgia;
    src: url("../fonts/Georgia.ttf");
}

body {
    font-family: "Josefin Sans, sans-serif";
}
/* head start */

.wrapper {
    padding: 0 15px;
    max-width: 710px;
    margin: 0 auto;
}
/* start media query */
@media (max-width:768px) {
    .wrapper {
        max-width: none;
    }
}
@media (max-width: 425px) {
    .preview {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;
        padding-top: 40px; */
    }
}
@media (max-width: 425px) {    
    /* .preview {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;
        padding-top: 40px; 
    } */
    .preview_reverse {
        display: flex;
        flex-direction: column;
    }
} 
/* end media query */
.head__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head__open {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
    /* or 33px */
    color: #BFBABA;
}
.head__phone {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    text-align: right;
    color: #BFBABA;
}
.head__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 44px 0 0 0;
}
.head__h1 {
    margin: 0 0 20px 0;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100%;
    /* or 75px */
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #000;
}
.head__tagline {
    margin: 0 0 40px 0;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 100%;
    /* or 75px */
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    list-style-type: none;
    padding-left: 0;
}
.menu .menu__item a:hover {
    color: #BFB06C;
    transition: color 300ms ease-in-out;
}
.line {
    display: flex;
    height: 1px;
    width: 100%;
    margin-top: 12px;
    background: #DEDEDE;
}
.menu__item {
    text-transform: uppercase;
    text-decoration: none;
}
.menu__item a {   
    text-decoration: none;
    color: #171717;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.07em
}
.welcome {
    padding-top: 12px;
}
.welcome__content {
    background: linear-gradient(0deg, rgba(24, 25, 27, 0.8), rgba(24, 25, 27, 0.8)), url("../img/welcome/01.jpeg");
    padding: 11px;
    background-size: 100% 100%;
    background-repeat: no-repeat;   
}    
.welcome__conteiner {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-sizing: border-box;
}
.welcome__title-str-1 {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 100%;
    /* or 75px */
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 90px;  
}
.welcome__title-str-2 {
    margin-top: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 100%;
    /* or 75px */
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.welcome__tagline {
    margin-top: 71px;
    padding-bottom: 68px;
    font-family: "Good Vibes Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */
    text-align: center;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}
.section-articles:first-child {
    padding-top: 47px;    
}
.preview {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.preview_reverse {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.preview_to-right {
    position: relative;
    left: 14px;
}
.preview__title {
    margin-top: 48px;
    max-width: 315px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    display: flex;
    align-items: center;
    color: #171717;
}
.preview__sub-title {
    margin-top: 12px;
    margin-bottom: 62px;
    max-width: 330px;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    word-spacing: 2px;
    /* or 30px */
    color: #2F2A2A;
}
.preview__sub-title::after {
    content: "";
    display: block;
    margin-top: 12px;
    height: 1px;
    width: 100px;
    background-color: #A89C66;
       
}
.preview__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 26.25px;
    font-family:"Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    text-decoration: none;
    background: #BFB06C;
    width: 166px;
    height: 45px;
    transition: background 300ms ease-in-out;
}
.preview__button:hover {
    background-color: chocolate;
    transition: background 300ms ease-in-out;
    color:#BFB06C;
    transition: color 300ms ease-in-out;
}
.main-content__info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 43px 0;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: #171717;
}
.footer__copyraight {
    padding-bottom: 49px;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-align: center;
    color: #171717;
}