/* common styles begin */
html {
    scroll-behavior: smooth;
}
:root {
    --title-color: #214AC2;
}
html.lock {
    overflow: hidden;
}
body {
    font-family: 'Roboto Condensed';
}
.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.button {
    width: 120px;
    height: 120px;
	padding: 0;
    border-radius: 50%;
/*	border: none;*/
    box-shadow: 0px 0px 50px rgba(33, 74, 194, 0.5);
    background-color: #214AC2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	/* -moz-transition-property: background; */
    transition: background .3s;
	cursor: pointer;
    /* cursor: pointer; */
}
.button:hover {
    background: darkblue;
}
.button:hover * {
	transform: scale(1.2);
}
.button__text {
    font-family: 'Archivo Black Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 90%;
    /* identical to box height, or 13px */
    color: #FFFFFF;
		/* transition-property: transform; */
    transition: all .3s;
    text-decoration: none;
}
.button__img {
    transition: transform .3s;
}
.clients__title {
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    line-height: 90%;
}
.clients__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
}
.header__title-text {
    font-family: "Archivo Black Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 90%;
    text-transform: uppercase;
}
.header__title-color {
    color: var(--title-color);
}
.header__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #1C2834;
    opacity: 0.4;
}
.link__text {
    text-decoration: none;
    font-family: "Archivo Black Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 90%;
    /* identical to box height, or 13px */
    color: #214AC2;
    margin-right: 9px;
    transition: color .3s ease-in-out;
}
.link__text:hover {
    color: #837E7E;
}
.link__img img {
    transition: transform .3s ease-in-out;

}
.link__img img:hover {
    transform: scale(1.5);
}
.white-space-no {
    white-space: pre;
}
/* common styles begin */